li {
  line-height: 120px;
  float: left;
  list-style: none;
  margin-left: 20px;
}

li:hover {
  transform: scale(1.5, 1.5);
}

.image {
  width: 100px;
  height: 100px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s, transform;
}

button:hover {
  transform: scale(1.2, 1.2);
  color: bisque;
}

h2 {
  text-align: center;
}

.difficulty {
  text-align: center;
  width: 400px;
  height: 240px;
  background-color: #aaebeb;
  box-shadow: 1px 1px 80px 3px rgb(202, 201, 201);
}

.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 100px;
  height: 100px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover {
  transition: transform 0.5s;
  transform: scale(1.1, 1.1);
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.frontCard {
  transform: rotateY(180deg);
  border: 1px solid black;
  box-shadow: 1px 1px 5px 3px grey;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.backCard {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  color: black;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  border: 1px double rgb(75, 74, 74);
  box-shadow: 1px 1px 10px 3px rgb(122, 122, 122);
}

.backCard:hover {
  background-color: #f7ff85;
  background-image: linear-gradient(45deg, #00ff77 0%, #fff700 100%);

}


/* .card.is-flipped {
  transform: rotateY(180deg);
} */

.cardParentDiv {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-gap: 20px;
  display: flex;
  /* grid-template-columns: repeat(8, 1fr); */
  justify-content: center;
  flex-flow: wrap;
}

@media only screen and (max-width: 1100px) {
  .cardParentDiv {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 940px) {
  .cardParentDiv {
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 20px
  }

  .frontCard {
    width: 90px;
    height: 90px;
  }

  .card-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .image {
    width: 90px;
    height: 90px;
  }

  .scene {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 550px) {
  .cardParentDiv {
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 10px
  }

  .frontCard {
    width: 70px;
    height: 70px;
  }

  .card-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .image {
    width: 70px;
    height: 70px;
  }

  .scene {
    width: 70px;
    height: 70px;
  }
}

#header {
  text-align: center;
  background-color: #7ffd86;
  border-bottom: 1px solid grey;
}

#headerCounter {
  display: inline;
  margin-top: 0px;
}

#header h2 {
  margin-left: 30px;
  display: inline;
  margin-top: 0px;
}

.noclick {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  /* or maybe higher */
  display: none;
  background-color: transparent;
}